html
    head
        title= 'Boxes galore'
        style
            include ./boxes.css
    body
        div.nav
            div.button
                p= 'Pick me'
                div.menu
                    a(href='https://www.tumblr.com')
                        div.option
                            p= 'One'
                    div.option
                        p= 'Two'
                    div.option
                        p= 'Three and to the four'
            div.button
                p= 'No, pick me'
