html
    head
        title= 'Boxes galore'
        style
            include ./boxes.css
    body
        div.nav
            div.button
                p= 'Pick me'
                div.menu
                    a(href='https://www.tumblr.com')
                        div.option
                            p= 'One'
                    div.option
                        p= 'Two'
                    div.option
                        p= 'Three and to the four'
            div.button
                p= 'No, pick me'
        div.header
            h1= 'Me hehe'
        div.columns
            div.mid
                p= "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Turpis egestas pretium aenean pharetra magna ac placerat vestibulum. Sagittis vitae et leo duis ut diam. Vestibulum morbi blandit cursus risus at. Et pharetra pharetra massa massa ultricies mi. Turpis egestas integer eget aliquet nibh praesent tristique magna. Fusce id velit ut tortor pretium viverra suspendisse potenti. Nulla facilisi morbi tempus iaculis urna. Amet mattis vulputate enim nulla. Cursus eget nunc scelerisque viverra mauris in aliquam sem."
                br
                p= "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Turpis egestas pretium aenean pharetra magna ac placerat vestibulum. Sagittis vitae et leo duis ut diam. Vestibulum morbi blandit cursus risus at. Et pharetra pharetra massa massa ultricies mi. Turpis egestas integer eget aliquet nibh praesent tristique magna. Fusce id velit ut tortor pretium viverra suspendisse potenti. Nulla facilisi morbi tempus iaculis urna. Amet mattis vulputate enim nulla. Cursus eget nunc scelerisque viverra mauris in aliquam sem."
                br
                p= "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Turpis egestas pretium aenean pharetra magna ac placerat vestibulum. Sagittis vitae et leo duis ut diam. Vestibulum morbi blandit cursus risus at. Et pharetra pharetra massa massa ultricies mi. Turpis egestas integer eget aliquet nibh praesent tristique magna. Fusce id velit ut tortor pretium viverra suspendisse potenti. Nulla facilisi morbi tempus iaculis urna. Amet mattis vulputate enim nulla. Cursus eget nunc scelerisque viverra mauris in aliquam sem."
                br
                p= "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Turpis egestas pretium aenean pharetra magna ac placerat vestibulum. Sagittis vitae et leo duis ut diam. Vestibulum morbi blandit cursus risus at. Et pharetra pharetra massa massa ultricies mi. Turpis egestas integer eget aliquet nibh praesent tristique magna. Fusce id velit ut tortor pretium viverra suspendisse potenti. Nulla facilisi morbi tempus iaculis urna. Amet mattis vulputate enim nulla. Cursus eget nunc scelerisque viverra mauris in aliquam sem."
                br
                p= "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Turpis egestas pretium aenean pharetra magna ac placerat vestibulum. Sagittis vitae et leo duis ut diam. Vestibulum morbi blandit cursus risus at. Et pharetra pharetra massa massa ultricies mi. Turpis egestas integer eget aliquet nibh praesent tristique magna. Fusce id velit ut tortor pretium viverra suspendisse potenti. Nulla facilisi morbi tempus iaculis urna. Amet mattis vulputate enim nulla. Cursus eget nunc scelerisque viverra mauris in aliquam sem."
        div.footer
